<div class="daVideo">
	<video width="560" height="315" controls>
		<source src="https://dl.dropboxusercontent.com/u/14561294/video_presentacion.mp4" type="video/mp4" />
	</video>
</div>

<figure>
	<h3>Créditos</h3>
	<img src="images/foto.jpg" alt="Foto raspbian" />
	<figcaption>David Sabalete, alias "raspbian"</figcaption>
</figure>

