<<<<<<< HEAD
=======
<h3>Créditos</h3>

>>>>>>> 7d469097037cbaf463a097d41e0e2b81081cf5d1
<div class="daVideo">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/SBri19OWFVI" frameborder="0" allowfullscreen></iframe>
</div>

<figure>
<<<<<<< HEAD
	<h3>Créditos</h3>
=======
>>>>>>> 7d469097037cbaf463a097d41e0e2b81081cf5d1
	<img src="images/foto.jpg" alt="Foto raspbian" />
	<figcaption>David Sabalete, alias "raspbian"</figcaption>
</figure>

